<template>
  <!-- component -->
  <div class="flex max-h-screen bg-gray-50 items-center justify-center ">
    <div class="grid bg-white rounded-lg shadow-xl min-h-80 px-4 py-5 bg-white space-y-6 sm:p-6">

      <div class="grid grid-cols-1 mt-5 mx-7">
        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Organisatie</label>
        <input
            class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
            type="text" placeholder="Naam" v-model="Name"/>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-8 mt-5 mx-7">
        <div class="grid grid-cols-1">
          <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Adres</label>
          <input
              class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              type="text" placeholder="Adres" v-model="Address"/>
        </div>
        <div class="grid grid-cols-1">
          <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Postcode</label>
          <input
              class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              type="text" placeholder="Postcode" v-model="Zipcode"/>
        </div>
        <div class="grid grid-cols-1">
          <label
              class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold text-left">Woonplaats</label>
          <input
              class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
              type="text" placeholder="Woonplaats" v-model="City"/>
        </div>
      </div>

      <!--      <div class="grid grid-cols-1 mt-5 mx-7">-->
      <!--        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Selection</label>-->
      <!--        <select class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent">-->
      <!--          <option>Option 1</option>-->
      <!--          <option>Option 2</option>-->
      <!--          <option>Option 3</option>-->
      <!--        </select>-->
      <!--      </div>-->

      <!--      <div class="grid grid-cols-1 mt-5 mx-7">-->
      <!--        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Another Input</label>-->
      <!--        <input class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="Another Input" />-->
      <!--      </div>-->


      <div class='px-4 py-3 bg-gray-50 text-right sm:px-6'>
        <button v-on:click="submitForm"
                class='w-auto bg-vueBlue hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2 text-right'>
          Opslaan
        </button>
      </div>

    </div>
  </div>
</template>

<script>
import axios from "axios";
import Customer from "@/models/Customer";

export default {
  name: "AddRelationForm",
  date() {
    return {
      Name: '',
      Address: '',
      City: '',
      Zipcode: ''
    }
  },
  methods: {
    submitForm() {

      let customerToSave = new Customer(
          this.Name,
          this.Address,
          this.City,
          this.Zipcode
      );
      console.log(
          "customer service url:" + process.env.VUE_APP_BASE_URL_CUSTOMERSERVICE, customerToSave
      );
      axios.post(process.env.VUE_APP_BASE_URL_CUSTOMERSERVICE + "/api/v1/customers", customerToSave, {
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
          Authorization: `${localStorage.token}`,

        }
      })
          .then((response) => console.log("I got a response!", response.data))
          .catch((response) => console.log("I got a bad response!", response))
    }
  }
}
</script>

<style scoped>

</style>
