<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-center text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Relatie
                </th>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-center text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Adres
                </th>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-center text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Woonplaats
                </th>
                <th
                  scope="col"
                  class="
                    px-6
                    py-3
                    text-center text-xs
                    font-medium
                    text-gray-500
                    uppercase
                    tracking-wider
                  "
                >
                  Actie
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="(relation, x) in relations" :key="x">
                <!-- <tr> -->
                <td class="px-2 py-4 whitespace-nowrap text-center">
                  <div class="flex items-center h-1">
                    <!--                  <input-->
                    <!--                      id="candidates"-->
                    <!--                      name="candidates"-->
                    <!--                      type="checkbox"-->
                    <!--                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"-->
                    <!--                  />-->
                    {{ relations[x].name }}
                  </div>
                </td>
                <!--                <td class="px-6 py-4 whitespace-nowrap text-center">-->
                <!--                  {{ ride.id.substr(ride.id.length - 5) }}-->
                <!--                </td>-->
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    <!-- {{ ride.id }} -->
                    <!--                  {{ Math.round(ride.price * 100) / 100 }} euro-->
                    {{ relations[x].address }}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="
                      px-6
                      py-4
                      whitespace-nowrap
                      text-center text-sm text-gray-500
                    "
                  >
                    {{ relations[x].city }}
                  </span>
                </td>
                <td
                  class="
                    px-6
                    py-4
                    whitespace-nowrap
                    text-center text-sm
                    font-medium
                  "
                >
                  <a class="text-indigo-600 hover:text-indigo-900">
                    <button
                      v-on:click="relationSelected(relations[x])"
                      type="button"
                      class="
                        text-gray-100
                        py-2
                        px-4
                        bg-blue-700
                        hover:bg-blue-400
                        focus:ring-indigo-500 focus:ring-offset-indigo-200
                        lg:w-30
                        transition
                        ease-in
                        duration-200
                        text-center text-base
                        font-semibold
                        shadow-md
                        focus:outline-none
                        focus:ring-2 focus:ring-offset-2
                        rounded-lg
                      "
                    >
                      Details
                    </button>
                    <!-- <button v-if="this.requests[x].requestStatus == 'NOTPROCESSED'"
                          v-on:click="requestSelected(this.requests[x])"
                      type="button"
                      class="text-gray-50 py-2 px-4 bg-red-700 hover:bg-blue-400 focus:ring-indigo-500 focus:ring-offset-indigo-200 lg:w-30 transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
                  >
                    Reject
                  </button> -->
                  </a>
                </td>

                <!-- <td
                class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium"
              >
                <button
                  href="#"
                  class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  Show
                </button>
              </td> -->
              </tr>

              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button v-on:click="getRelations()">getrelations</button>
</template>

<script>
import axios from 'axios';
// import moment from 'moment';
// import store from '@/store';
import { createToast } from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css';

export default {
  name: 'RelationTable',
  data() {
    return {
      // relations: [
      //   {
      //     relation: 'Relatie1',
      //     adres: 'straat1',
      //     woonplaats: 'woonplaats1',
      //     invoiceStatus: 'NOTPAID',
      //   },
      //   {
      //     relation: 'Relatie2',
      //     adres: 'straat2',
      //     woonplaats: 'woonplaats2',
      //     invoiceStatus: 'NOTPAID',
      //   },
      //   {
      //     relation: 'Relatie3',
      //     adres: 'straat3',
      //     woonplaats: 'woonplaats3',
      //     invoiceStatus: 'NOTPAID',
      //   },
      //   {
      //     relation: 'Relatie4',
      //     adres: 'straat4',
      //     woonplaats: 'woonplaats4',
      //     invoiceStatus: 'PAID',
      //   },
      //   {
      //     relation: 'Relatie5',
      //     adres: 'straat5',
      //     woonplaats: 'woonplaats5',
      //     invoiceStatus: 'PAID',
      //   },
      // ],
      relations: [],
    };
  },
  methods: {
    relationSelected() {
      console.log('Clicked on relationSelected');
    },
    getRelations() {
      axios
        .get(
          process.env.VUE_APP_BASE_URL_CUSTOMERSERVICE +
            `/customers/users/${localStorage.userId}/customers`,
          {},
          {
            headers: {
              'Content-Type': 'application/json',
              'Access-Control-Allow-Origin': '*',
              Authorization: `${localStorage.token}`,
            },
          }
        )
        .then((response) => {
          console.log('I got a response!', response.data);
          this.relations = response.data;
          createToast('Je relatie is aangemaakt!', {
            type: 'success',
            position: 'bottom-right',
          });
        })
        .catch((response) => {
          console.log('I got a bad response!', response);
          createToast('Er is iets mis gegaan, probeer het later nogmaals!', {
            type: 'warning',
            position: 'bottom-right',
          });
        });
    },
  },
  mounted() {
    this.getRelations();
  },
};
</script>

<style scoped></style>
