<template>
<!--  <div id="nav">-->
<!--    <router-link to="/">Home</router-link> |-->
<!--    <router-link to="/about">About</router-link>-->
<!--  </div>-->
<!--  <router-view/>-->

  <div id="app">
    <NavBar />
    <header class="bg-white shadow max-h-16" v-if="$route.meta.fullpage !== true">
      <div class="max-w-10xl mx-auto py-4  sm:px-36 lg:px-40">
        <h1 class="text-3xl font-bold text-vueBlue text-left" id="title">
          {{ $route.meta.title }}
        </h1>
      </div>
    </header>
    <main>
      <div class="max-w-8xl mx-auto py-12 sm:px-36 lg:px-40">
        <!-- Replace with your content -->
        <router-view />
        <!-- /End replace -->
      </div>
    </main>
  <Footer/>
  </div>
</template>

<script>
import NavBar from "../src/components/core/NavBar";
import Footer from "@/components/core/Footer";

export default{
  name: "App",
  components: {
    Footer,
    NavBar,
  },
  methods: {
    // Gets the checkbox information from the child component
    titleValue: function (params) {
      this.title = params;
      console.log("from child" + params);
    },
  },
  watch: {
    $route: {
      handler: function (to) {
        document.title = to.meta.title || "ZZP Management";
        // titleChange(document.title);
        console.log("route handler " + to.meta.title);
      },
      immediate: true,
    },
  },
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
