<template>
  <div
    class="
      min-h-screen
      flex
      items-center
      justify-center
      bg-gray-50
      py-12
      px-4
      sm:px-6
      lg:px-8
      flex
    "
  >
    <div class="max-w-md w-full space-y-8">
      <div>
        <img
          class="mx-auto h-32 w-auto"
          src="../../assets/logo1.png"
          alt="Workflow"
        />
        <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">
          Sign in to your account
        </h2>
        <!-- <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            start your 14-day free trial
          </a>
        </p> -->
      </div>
      <form class="mt-8 space-y-6" @submit.prevent>
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email" class="sr-only">Email address</label>
            <input
              id="email"
              name="email"
              v-model="email"
              type="email"
              autocomplete="email"
              required
              class="
                appearance-none
                rounded-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-t-md
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                focus:z-10
                sm:text-sm
              "
              placeholder="Email address"
            />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input
              id="password"
              name="password"
              v-model="password"
              type="password"
              autocomplete="current-password"
              required
              class="
                appearance-none
                rounded-none
                relative
                block
                w-full
                px-3
                py-2
                border border-gray-300
                placeholder-gray-500
                text-gray-900
                rounded-b-md
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                focus:z-10
                sm:text-sm
              "
              placeholder="Password"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember_me"
              name="remember_me"
              type="checkbox"
              class="
                h-4
                w-4
                text-indigo-600
                focus:ring-indigo-500
                border-gray-300
                rounded
              "
            />
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
              Remember me
            </label>
          </div>

          <div class="text-sm">
            <a
              href="#"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Forgot your password?
            </a>
          </div>
        </div>

        <div>
          <button
            v-on:click="checkForm"
            type="submit"
            class="
              group
              relative
              w-full
              flex
              justify-center
              py-2
              px-4
              border border-transparent
              text-sm
              font-medium
              rounded-md
              text-white
              bg-indigo-600
              hover:bg-indigo-700
              focus:outline-none
              focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
            "
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg
                class="h-5 w-5 text-vueBlue group-hover:text-indigo-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd"
                />
              </svg>
              Login
            </span>
            <div class="sign-in text-vueBlue text-center font-bold">
              Sign in
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import store from '../../store';

import router from '@/router';

export default {
  name: 'LoginForm',
  data() {
    return {
      email: '',
      password: '',
    };
  },

  methods: {
    async checkForm() {
      console.log('email', this.email, 'password is', this.password);
      axios
        .request({
          method: 'post',
          url: process.env.VUE_APP_BASE_URL_LOGINSERVICE + '/auth/login',
          data: {
            username: this.email,
            password: this.password,
          },
          headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*',
          },
        })
        .then(function (response) {
          //handle success
          console.log('I Got a response!!!', response.data.jwt);
          localStorage.setItem('token', response.data.jwt);
          store.commit('setLoggedIn', response.data.jwt);
          console.log(store.state.isUserLoggedIn);

          const token = JSON.stringify(response.data.jwt);
          const jwtData = token.split('.')[1];
          const decodedJwtJsonData = window.atob(jwtData);
          const decodedJwtData = JSON.parse(decodedJwtJsonData);

          // const userData = new User();
          // userData.fullname = decodedJwtData.fullname;
          // userData.uuid = decodedJwtData.sub;
          // userData.portalUserRoles = decodedJwtData.PortalUserRoles;
          // userData.jwt = oauth.jwt;

          let userId = decodedJwtData.userId;
          store.commit('setUserId', userId);
          localStorage.setItem('userId', decodedJwtData.userId);
          router.push({ path: '/dashboard' });
          // self.$router.push('/dashboard');
        })
        .catch(function (response) {
          //handle error
          console.log('I Got a bad response!!!', response);
          // console.log(response);
        });
    },
    initUser(oauth) {
      const token = JSON.stringify(oauth);
      const jwtData = token.split('.')[1];
      const decodedJwtJsonData = window.atob(jwtData);
      const decodedJwtData = JSON.parse(decodedJwtJsonData);

      // const userData = new User();
      // userData.fullname = decodedJwtData.fullname;
      // userData.uuid = decodedJwtData.sub;
      // userData.portalUserRoles = decodedJwtData.PortalUserRoles;
      // userData.jwt = oauth.jwt;

      localStorage.setItem('userId', JSON.stringify(decodedJwtData.userId));
    },
  },
};
</script>

<style scoped></style>
