<template>
  <div class="text-gray-700 bg-white body-font">
    <div
        class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row"
    >
      <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:mt-0">
        © {{new Date().getFullYear()}} - ZZP-Management
      </p>
      <a
          class="mt-4 text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0 hover:text-gray-500"
          href="/privacy-policy"
      >
        <span>Privacy policy</span>
      </a>

      <span
          class="justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
      >
        <a class="flex" href="https://gitlab.com/ghost-dev/">
          <div class="mr-1">
            <img  src="https://api.iconify.design/logos:gitlab.svg" />
          </div>

          Source Code Open Source op Gitlab</a
        >
      </span>
    </div>
  </div>
</template>

<script>
// import { Icon } from '@iconify/vue';
// import gitlabIcon from '@iconify-icons/logos/gitlab';


export default {
  name: "Footer",
  components:{
    // Icon,
    // gitlabIcon
  }
}
</script>

<style scoped>

</style>
