<template>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <nav class="bg-vueGreen">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            class="
              inline-flex
              items-center
              justify-center
              p-2
              rounded-md
              text-vueBlue
              hover:text-white
              hover:bg-gray-700
              focus:outline-none
              focus:ring-2 focus:ring-inset focus:ring-white
            "
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
            <svg
              class="block h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
            <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
            <svg
              class="hidden h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          class="
            flex-1 flex
            items-center
            justify-center
            sm:items-stretch
            sm:justify-start
          "
        >
          <div class="flex-shrink-0 flex items-center">
            <a v-on:click="toHome()">
              <img
                class="block lg:hidden h-8 w-auto"
                src="../../assets/logo1.png"
                alt="Workflow"
              />
              <img
                class="hidden lg:block h-8 w-auto"
                src="../../assets/logo1.png"
                alt="Workflow"
              />
            </a>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-vueBlue hover:bg-gray-700 hover:text-white" -->
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == true"
                to="/dashboard"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-bold
                "
                >Dashboard
              </router-link>
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == true"
                to="/timeregistration"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
                >Urenregistratie
              </router-link>
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == true"
                to="/relationmanagement"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
                >Relatiebeheer
              </router-link>
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == true"
                to="/mileageregistration"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
                >Kilometerregistratie
              </router-link>
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == false"
                to="/"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
                >Home
              </router-link>
              <router-link
                v-if="this.$store.state.auth.isUserLoggedIn == false"
                to="/privacy-policy"
                class="
                  text-vueBlue
                  hover:bg-gray-700
                  hover:text-white
                  px-3
                  py-2
                  rounded-md
                  text-sm
                  font-medium
                "
                >Privacy Policy
              </router-link>
            </div>
          </div>
        </div>
        <div
          class="
            absolute
            inset-y-0
            right-0
            flex
            items-center
            pr-2
            sm:static
            sm:inset-auto
            sm:ml-6
            sm:pr-0
          "
        >
          <!-- Profile dropdown -->
          <div class="ml-3 relative">
            <button
              class="
                flex
                text-sm
                border-2 border-transparent
                rounded-full
                focus:outline-none
                focus:border-white
                transition
                duration-150
                ease-in-out
              "
              id="user-menu"
              aria-label="User menu"
              aria-haspopup="true"
              v-on:click="dropdown = !dropdown"
              v-show="this.$store.state.auth.isUserLoggedIn == true"
            >
              <img
                class="h-8 w-8 rounded-full"
                src="../../assets/user-icon.png"
                alt=""
              />
            </button>
            <div
              id="user-menu-dropdown"
              class="
                menu-hidden
                origin-top-right
                absolute
                right-0
                mt-2
                w-48
                rounded-md
                shadow-lg
              "
            >
              <div
                class="py-1 rounded-md bg-white shadow-xs"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu"
              >
                <a
                  href="#"
                  class="
                    block
                    px-4
                    py-2
                    text-sm
                    leading-5
                    text-gray-700
                    hover:bg-gray-100
                    focus:outline-none
                    focus:bg-gray-100
                    transition
                    duration-150
                    ease-in-out
                  "
                  role="menuitem"
                  >Your Profile</a
                >
                <a
                  href="#"
                  class="
                    block
                    px-4
                    py-2
                    text-sm
                    leading-5
                    text-gray-700
                    hover:bg-gray-100
                    focus:outline-none
                    focus:bg-gray-100
                    transition
                    duration-150
                    ease-in-out
                  "
                  role="menuitem"
                  >Settings</a
                >
                <a
                  href="#"
                  class="
                    block
                    px-4
                    py-2
                    text-sm
                    leading-5
                    text-gray-700
                    hover:bg-gray-100
                    focus:outline-none
                    focus:bg-gray-100
                    transition
                    duration-150
                    ease-in-out
                  "
                  role="menuitem"
                  >Sign out</a
                >
              </div>
            </div>
          </div>
          <div
            class="
              flex-1 flex
              items-center
              justify-center
              sm:items-stretch
              sm:justify-start
            "
          >
            <div class="hidden sm:block sm:ml-6">
              <div class="flex space-x-4">
                <a
                  v-if="this.$store.state.auth.isUserLoggedIn == false"
                  @click="login()"
                  class="
                    text-vueBlue
                    hover:bg-gray-700
                    hover:text-white
                    px-3
                    py-2
                    rounded-md
                    text-sm
                    font-medium
                  "
                  >Login</a
                >
                <router-link
                  v-if="this.$store.state.auth.isUserLoggedIn == false"
                  to="/register"
                  class="
                    text-vueBlue
                    hover:bg-gray-700
                    hover:text-white
                    px-3
                    py-2
                    rounded-md
                    text-sm
                    font-medium
                  "
                  >Registeren</router-link
                >
                <a
                  v-if="isLoggedIn == true"
                  v-on:click="logout()"
                  class="
                    text-vueBlue
                    hover:bg-gray-700
                    hover:text-white
                    px-3
                    py-2
                    rounded-md
                    text-sm
                    font-medium
                  "
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <!-- Current: "bg-gray-900 text-white", Default: "text-vueBlue hover:bg-gray-700 hover:text-white" -->
        <router-link
          v-if="isLoggedIn == true"
          to="/dashboard"
          class="
            bg-gray-900
            text-white
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
          "
          >Dashboard
        </router-link>
        <router-link
          v-if="isLoggedIn == true"
          to="/urenregistratie"
          class="
            text-vueBlue
            hover:bg-gray-700
            hover:text-white
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
          "
          >Urenregistratie
        </router-link>
        <router-link
          v-if="isLoggedIn == true"
          to="/relatiebeheer"
          class="
            text-vueBlue
            hover:bg-gray-700
            hover:text-white
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
          "
          >Relatiebeheer
        </router-link>
        <router-link
          v-if="isLoggedIn == true"
          to="/kilometerregistratie"
          class="
            text-vueBlue
            hover:bg-gray-700
            hover:text-white
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
          "
          >Kilometerregistratie
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
// import store from '@/store';
export default {
  name: 'NavBar',
  data() {
    return {
      dropdown: false,
    };
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.getIsLoggedIn;
    },
  },
  methods: {
    logout() {
      console.log('clicked on logout method');
      // this.$store.state.auth.isUserLoggedIn = false;
      this.$store.dispatch('logout');
      this.$router.push('/login');
    },
    login() {
      console.log('clicked on login method');

      this.$store.state.auth.isUserLoggedIn = true;
      this.$router.push('/dashboard');
    },
    toHome() {
      this.$router.push('/');
    },
  },
};
</script>

<style>
#user-menu ~ #user-menu-dropdown {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 75ms;
  opacity: 0;
  --transform-scale-x: 0;
  --transform-scale-y: 0;
}

#user-menu ~ #user-menu-dropdown:focus-within,
#user-menu:focus ~ #user-menu-dropdown {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
  opacity: 1;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}
</style>
