<template>
  <div class="bg-white-50 pt-20 pb-20 radius-for-skewed">
    <div class="container mx-auto px-8">
      <div class="flex flex-wrap -mx-4">
        <div
          class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center"
        >
          <div class="w-full text-center lg:text-left">
            <div class="max-w-md mx-auto lg:mx-0">
              <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                <span
                  >We houden ook niet van de
                  <span class="text-green-600">administratie</span>.
                </span>
                <span
                  >Daarom maken we het
                  <span class="text-green-600">simpel</span>.
                </span>
              </h2>
            </div>
            <div class="max-w-sm mx-auto lg:mx-0">
              <p class="mb-6 text-gray-400 leading-loose">
                ZZP-Management is een online administratieplatform gericht op de
                klein ondernemer. Met behulp van onze applicatie houdt je
                gemakkelijk je uren, kosten en ritten bij.
              </p>
              <div>
                <a
                  class="
                    inline-block
                    mb-3
                    lg:mb-0
                    lg:mr-3
                    w-full
                    lg:w-auto
                    py-2
                    px-6
                    leading-loose
                    bg-green-600
                    hover:bg-green-700
                    text-white
                    font-semibold
                    rounded-l-xl rounded-t-xl
                    transition
                    duration-200
                  "
                  href="#"
                  v-scroll-to="'#section-two'"
                  >Aan de slag</a
                ><a
                  class="
                    inline-block
                    w-full
                    lg:w-auto
                    py-2
                    px-6
                    leading-loose
                    font-semibold
                    bg-white
                    hover:bg-gray-50
                    rounded-l-xl rounded-t-xl
                    transition
                    duration-200
                  "
                  href="#"
                  >Hoe werkt het</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
          <img
            src="https://shuffle.dev/atis-assets/illustrations/men-on-chair-light-green.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <Pricing id="section-two" />
</template>

<script>
import Pricing from '@/components/home/Pricing';
export default {
  name: 'Home',
  components: {
    Pricing,
  },
};
</script>
