<template>
  <div class="py-20 bg-white-50 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="mb-16 max-w-2xl mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <span class="text-green-600 font-bold"
            >Overzicht van onze pakketten</span
          >
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">
            Alle tools die je nodig hebt in één werkruimte.
          </h2>
          <p class="mb-6 text-gray-500">
            Vind het abonnement dat het beste bij jouw bedrijf past.
          </p>
        </div>
        <div class="inline-block py-1 px-1 bg-white rounded-lg">
          <button
            class="
              mr-1
              text-sm
              py-2
              px-4
              text-gray-500
              hover:text-gray-900
              font-bold
            "
          >
            Maandelijks
          </button>
          <button
            class="
              text-sm
              py-2
              px-4
              text-gray-900
              bg-gray-50
              rounded-lg
              shadow
              font-bold
            "
          >
            Jaarlijks
          </button>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8 lg:mb-0">
          <div class="p-8 bg-white shadow rounded text-center">
            <h4 class="mb-2 text-2xl font-bold font-heading">Beginner</h4>
            <span class="text-6xl font-bold">Gratis</span>
            <ul class="my-6 text-gray-500">
              <li class="mb-2">Beperkte functionaliteiten</li>
              <li class="mb-2">De eerste 3 maanden gratis</li>
            </ul>
            <a
              class="
                block
                text-center
                py-2
                px-4
                w-full
                rounded-l-xl rounded-t-xl
                bg-green-600
                hover:bg-green-700
                text-white
                font-bold
                leading-loose
                transition
                duration-200
              "
              v-on:click="toRegister()"
              >Aan de slag</a
            >
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-8 lg:mb-0">
          <div class="p-8 bg-green-600 shadow rounded text-center">
            <h4 class="mb-2 text-2xl font-bold text-white">Basic</h4>
            <span class="text-6xl font-bold text-white">€24</span>
            <span class="text-gray-50 text-xs">/maand</span>
            <ul class="my-6 text-gray-50 text-center">
              <li class="mb-2">
                Alles wat een kleine ondernemer nodig heeft. Onbeperkt gratis te
                gebruiken
              </li>
            </ul>
            <a
              class="
                block
                text-center
                py-2
                px-4
                w-full
                rounded-l-xl rounded-t-xl
                bg-white
                hover:bg-gray-50
                font-bold
                leading-loose
                transition
                duration-200
              "
              v-on:click="toRegister()"
              >Aan de slag</a
            >
          </div>
        </div>
        <div class="w-full lg:w-1/3 px-4 lg:mb-0">
          <div class="p-8 bg-white shadow rounded text-center">
            <h4 class="mb-2 text-2xl font-bold font-heading">Professional</h4>
            <span class="text-6xl font-bold">€48</span>
            <span class="text-gray-400 text-xs">/maand</span>
            <ul class="my-6 text-gray-500">
              <li class="mb-2">Alles wat een ondernemer wil en meer.</li>
            </ul>
            <a
              class="
                block
                text-center
                py-2
                px-4
                w-full
                rounded-l-xl rounded-t-xl
                bg-green-600
                hover:bg-green-700
                text-white
                font-bold
                leading-loose
                transition
                duration-200
              "
              v-on:click="toRegister()"
              >Aan de slag</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skew skew-bottom mr-for-radius">
    <svg
      class="h-8 md:h-12 lg:h-20 w-full text-gray-50"
      viewBox="0 0 10 10"
      preserveAspectRatio="none"
    >
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
  <div class="skew skew-bottom ml-for-radius">
    <svg
      class="h-8 md:h-12 lg:h-20 w-full text-gray-50"
      viewBox="0 0 10 10"
      preserveAspectRatio="none"
    >
      <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
    </svg>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Pricing',
  components: {},
  methods: {
    toRegister() {
      this.$router.push('/register');
    },
  },
};
</script>
