<template>
  <section class="py-8">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="w-full lg:w-1/2 p-4">
          <div class="p-6 mb-8 bg-white shadow rounded">
            <div class="flex mb-3 items-center justify-between">
              <h3 class="text-gray-500">Totaal inkomen</h3>
              <button class="focus:outline-none">
                <svg class="h-4 w-4 text-gray-200" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 0.333344C7.67037 0.333344 7.34813 0.431092 7.07405 0.614228C6.79997 0.797363 6.58635 1.05766 6.4602 1.36221C6.33406 1.66675 6.30105 2.00186 6.36536 2.32516C6.42967 2.64846 6.5884 2.94543 6.82149 3.17852C7.05458 3.41161 7.35155 3.57034 7.67485 3.63465C7.99815 3.69896 8.33326 3.66596 8.63781 3.53981C8.94235 3.41366 9.20265 3.20004 9.38578 2.92596C9.56892 2.65188 9.66667 2.32965 9.66667 2.00001C9.66667 1.55798 9.49107 1.13406 9.17851 0.821499C8.86595 0.508939 8.44203 0.333344 8 0.333344ZM2.16667 0.333344C1.83703 0.333344 1.5148 0.431092 1.24072 0.614228C0.966635 0.797363 0.753014 1.05766 0.626868 1.36221C0.500722 1.66675 0.467717 2.00186 0.532025 2.32516C0.596334 2.64846 0.755068 2.94543 0.988156 3.17852C1.22124 3.41161 1.51822 3.57034 1.84152 3.63465C2.16482 3.69896 2.49993 3.66596 2.80447 3.53981C3.10902 3.41366 3.36931 3.20004 3.55245 2.92596C3.73559 2.65188 3.83333 2.32965 3.83333 2.00001C3.83333 1.55798 3.65774 1.13406 3.34518 0.821499C3.03262 0.508939 2.6087 0.333344 2.16667 0.333344ZM13.8333 0.333344C13.5037 0.333344 13.1815 0.431092 12.9074 0.614228C12.6333 0.797363 12.4197 1.05766 12.2935 1.36221C12.1674 1.66675 12.1344 2.00186 12.1987 2.32516C12.263 2.64846 12.4217 2.94543 12.6548 3.17852C12.8879 3.41161 13.1849 3.57034 13.5082 3.63465C13.8315 3.69896 14.1666 3.66596 14.4711 3.53981C14.7757 3.41366 15.036 3.20004 15.2191 2.92596C15.4023 2.65188 15.5 2.32965 15.5 2.00001C15.5 1.55798 15.3244 1.13406 15.0118 0.821499C14.6993 0.508939 14.2754 0.333344 13.8333 0.333344Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div class="flex items-center mb-3">
              <span class="text-4xl font-bold">€3.563,00</span>
              <span class="inline-block ml-2 py-1 px-2 bg-green-500 text-white text-xs rounded-full">+6.9%</span>
            </div>
            <div class="relative w-full h-1 mb-2 bg-gray-50 rounded">
              <div class="absolute top-0 left-0 w-4/6 h-full bg-purple-500 rounded"></div>
            </div>
            <p class="text-xs text-gray-200">Jaarlijks doel</p>
          </div>
          <div class="p-6 bg-white shadow rounded" style="position: relative;">
            <div class="flex mb-3 items-center justify-between">
              <h3 class="text-gray-500">Nieuwe relaties</h3>
              <button class="focus:outline-none">
                <svg class="h-4 w-4 text-gray-200" viewBox="0 0 16 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 0.333344C7.67037 0.333344 7.34813 0.431092 7.07405 0.614228C6.79997 0.797363 6.58635 1.05766 6.4602 1.36221C6.33406 1.66675 6.30105 2.00186 6.36536 2.32516C6.42967 2.64846 6.5884 2.94543 6.82149 3.17852C7.05458 3.41161 7.35155 3.57034 7.67485 3.63465C7.99815 3.69896 8.33326 3.66596 8.63781 3.53981C8.94235 3.41366 9.20265 3.20004 9.38578 2.92596C9.56892 2.65188 9.66667 2.32965 9.66667 2.00001C9.66667 1.55798 9.49107 1.13406 9.17851 0.821499C8.86595 0.508939 8.44203 0.333344 8 0.333344ZM2.16667 0.333344C1.83703 0.333344 1.5148 0.431092 1.24072 0.614228C0.966635 0.797363 0.753014 1.05766 0.626868 1.36221C0.500722 1.66675 0.467717 2.00186 0.532025 2.32516C0.596334 2.64846 0.755068 2.94543 0.988156 3.17852C1.22124 3.41161 1.51822 3.57034 1.84152 3.63465C2.16482 3.69896 2.49993 3.66596 2.80447 3.53981C3.10902 3.41366 3.36931 3.20004 3.55245 2.92596C3.73559 2.65188 3.83333 2.32965 3.83333 2.00001C3.83333 1.55798 3.65774 1.13406 3.34518 0.821499C3.03262 0.508939 2.6087 0.333344 2.16667 0.333344ZM13.8333 0.333344C13.5037 0.333344 13.1815 0.431092 12.9074 0.614228C12.6333 0.797363 12.4197 1.05766 12.2935 1.36221C12.1674 1.66675 12.1344 2.00186 12.1987 2.32516C12.263 2.64846 12.4217 2.94543 12.6548 3.17852C12.8879 3.41161 13.1849 3.57034 13.5082 3.63465C13.8315 3.69896 14.1666 3.66596 14.4711 3.53981C14.7757 3.41366 15.036 3.20004 15.2191 2.92596C15.4023 2.65188 15.5 2.32965 15.5 2.00001C15.5 1.55798 15.3244 1.13406 15.0118 0.821499C14.6993 0.508939 14.2754 0.333344 13.8333 0.333344Z" fill="currentColor"></path>
                </svg>
              </button>
            </div>
            <div class="flex items-center mb-3">
              <span class="text-4xl font-bold">94.2%</span>
              <span class="inline-block ml-2 py-1 px-2 bg-green-500 text-white text-xs rounded-full">+6.9%</span>
            </div>
            <div class="chart" data-type="columns-stacked" style="min-height: 100px;"><div id="apexchartscz602p7cf" class="apexcharts-canvas apexchartscz602p7cf apexcharts-theme-light" style="width: 498px; height: 100px;"><svg id="SvgjsSvg1006" width="498" height="100" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent none repeat scroll 0% 0%;"><g id="SvgjsG1008" class="apexcharts-inner apexcharts-graphical" transform="translate(42.199999999999996, 0)"><defs id="SvgjsDefs1007"><linearGradient id="SvgjsLinearGradient1011" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1012" stop-opacity="0.4" stop-color="rgba(216,227,240,0.4)" offset="0"></stop><stop id="SvgjsStop1013" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop><stop id="SvgjsStop1014" stop-opacity="0.5" stop-color="rgba(190,209,230,0.5)" offset="1"></stop></linearGradient><clipPath id="gridRectMaskcz602p7cf"><rect id="SvgjsRect1016" width="502" height="100" x="-40.199999999999996" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskcz602p7cf"><rect id="SvgjsRect1017" width="425.6" height="104" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><rect id="SvgjsRect1015" width="42.16" height="100" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke-dasharray="3" fill="url(#SvgjsLinearGradient1011)" class="apexcharts-xcrosshairs" y2="100" filter="none" fill-opacity="0.9"></rect><g id="SvgjsG1039" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1040" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1048" class="apexcharts-grid"><g id="SvgjsG1049" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1051" x1="-38.199999999999996" y1="0" x2="459.8" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1052" x1="-38.199999999999996" y1="16.666666666666668" x2="459.8" y2="16.666666666666668" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1053" x1="-38.199999999999996" y1="33.333333333333336" x2="459.8" y2="33.333333333333336" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1054" x1="-38.199999999999996" y1="50" x2="459.8" y2="50" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1055" x1="-38.199999999999996" y1="66.66666666666667" x2="459.8" y2="66.66666666666667" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1056" x1="-38.199999999999996" y1="83.33333333333334" x2="459.8" y2="83.33333333333334" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1057" x1="-38.199999999999996" y1="100.00000000000001" x2="459.8" y2="100.00000000000001" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1050" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1059" x1="0" y1="100" x2="421.6" y2="100" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1058" x1="0" y1="1" x2="0" y2="100" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1018" class="apexcharts-bar-series apexcharts-plot-series"><g id="SvgjsG1019" class="apexcharts-series" seriesName="seriesx1" rel="1" data:realIndex="0"><path id="SvgjsPath1021" d="M-21.08 100L-21.08 66.66666666666666C-21.08 66.66666666666666 -21.08 66.66666666666666 -21.08 66.66666666666666L21.08 66.66666666666666C21.08 66.66666666666666 21.08 66.66666666666666 21.08 66.66666666666666L21.08 66.66666666666666L21.08 100L21.08 100C21.08 100 -21.08 100 -21.08 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M -21.08 100L -21.08 66.66666666666666Q -21.08 66.66666666666666 -21.08 66.66666666666666L 21.08 66.66666666666666Q 21.08 66.66666666666666 21.08 66.66666666666666L 21.08 66.66666666666666L 21.08 100L 21.08 100z" pathFrom="M -21.08 100L -21.08 100L 21.08 100L 21.08 100L 21.08 100L 21.08 100L 21.08 100L -21.08 100" cy="66.66666666666666" cx="21.08" j="0" val="20" barHeight="33.333333333333336" barWidth="42.16"></path><path id="SvgjsPath1022" d="M39.14857142857144 100L39.14857142857144 16.666666666666657C39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657L81.30857142857144 16.666666666666657C81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657L81.30857142857144 16.666666666666657L81.30857142857144 100L81.30857142857144 100C81.30857142857144 100 39.14857142857144 100 39.14857142857144 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 39.14857142857144 100L 39.14857142857144 16.666666666666657Q 39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657L 81.30857142857144 16.666666666666657Q 81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 100L 81.30857142857144 100z" pathFrom="M 39.14857142857144 100L 39.14857142857144 100L 81.30857142857144 100L 81.30857142857144 100L 81.30857142857144 100L 81.30857142857144 100L 81.30857142857144 100L 39.14857142857144 100" cy="16.666666666666657" cx="81.30857142857144" j="1" val="50" barHeight="83.33333333333334" barWidth="42.16"></path><path id="SvgjsPath1023" d="M99.37714285714287 100L99.37714285714287 70C99.37714285714287 70 99.37714285714287 70 99.37714285714287 70L141.53714285714287 70C141.53714285714287 70 141.53714285714287 70 141.53714285714287 70L141.53714285714287 70L141.53714285714287 100L141.53714285714287 100C141.53714285714287 100 99.37714285714287 100 99.37714285714287 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 99.37714285714287 100L 99.37714285714287 70Q 99.37714285714287 70 99.37714285714287 70L 141.53714285714287 70Q 141.53714285714287 70 141.53714285714287 70L 141.53714285714287 70L 141.53714285714287 100L 141.53714285714287 100z" pathFrom="M 99.37714285714287 100L 99.37714285714287 100L 141.53714285714287 100L 141.53714285714287 100L 141.53714285714287 100L 141.53714285714287 100L 141.53714285714287 100L 99.37714285714287 100" cy="70" cx="141.53714285714287" j="2" val="18" barHeight="30" barWidth="42.16"></path><path id="SvgjsPath1024" d="M159.60571428571433 100L159.60571428571433 16.666666666666657C159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657L201.76571428571432 16.666666666666657C201.76571428571435 16.666666666666657 201.76571428571435 16.666666666666657 201.76571428571432 16.666666666666657L201.76571428571432 16.666666666666657L201.76571428571432 100L201.76571428571432 100C201.76571428571432 100 159.60571428571433 100 159.60571428571433 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 159.60571428571433 100L 159.60571428571433 16.666666666666657Q 159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657L 201.76571428571432 16.666666666666657Q 201.76571428571432 16.666666666666657 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 100L 201.76571428571432 100z" pathFrom="M 159.60571428571433 100L 159.60571428571433 100L 201.76571428571432 100L 201.76571428571432 100L 201.76571428571432 100L 201.76571428571432 100L 201.76571428571432 100L 159.60571428571433 100" cy="16.666666666666657" cx="201.76571428571432" j="3" val="50" barHeight="83.33333333333334" barWidth="42.16"></path><path id="SvgjsPath1025" d="M219.83428571428573 100L219.83428571428573 50C219.83428571428573 50 219.83428571428573 50 219.83428571428573 50L261.99428571428575 50C261.99428571428575 50 261.99428571428575 50 261.99428571428575 50L261.99428571428575 50L261.99428571428575 100L261.99428571428575 100C261.99428571428575 100 219.83428571428573 100 219.83428571428573 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 219.83428571428573 100L 219.83428571428573 50Q 219.83428571428573 50 219.83428571428573 50L 261.99428571428575 50Q 261.99428571428575 50 261.99428571428575 50L 261.99428571428575 50L 261.99428571428575 100L 261.99428571428575 100z" pathFrom="M 219.83428571428573 100L 219.83428571428573 100L 261.99428571428575 100L 261.99428571428575 100L 261.99428571428575 100L 261.99428571428575 100L 261.99428571428575 100L 219.83428571428573 100" cy="50" cx="261.99428571428575" j="4" val="30" barHeight="50" barWidth="42.16"></path><path id="SvgjsPath1026" d="M280.0628571428572 100L280.0628571428572 33.33333333333333C280.0628571428572 33.33333333333333 280.0628571428572 33.33333333333333 280.0628571428572 33.33333333333333L322.22285714285715 33.33333333333333C322.22285714285715 33.33333333333333 322.22285714285715 33.33333333333333 322.22285714285715 33.33333333333333L322.22285714285715 33.33333333333333L322.22285714285715 100L322.22285714285715 100C322.22285714285715 100 280.0628571428572 100 280.0628571428572 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 280.0628571428572 100L 280.0628571428572 33.33333333333333Q 280.0628571428572 33.33333333333333 280.0628571428572 33.33333333333333L 322.22285714285715 33.33333333333333Q 322.22285714285715 33.33333333333333 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333L 322.22285714285715 100L 322.22285714285715 100z" pathFrom="M 280.0628571428572 100L 280.0628571428572 100L 322.22285714285715 100L 322.22285714285715 100L 322.22285714285715 100L 322.22285714285715 100L 322.22285714285715 100L 280.0628571428572 100" cy="33.33333333333333" cx="322.22285714285715" j="5" val="40" barHeight="66.66666666666667" barWidth="42.16"></path><path id="SvgjsPath1027" d="M340.29142857142864 100L340.29142857142864 50C340.29142857142864 50 340.29142857142864 50 340.29142857142864 50L382.45142857142866 50C382.45142857142866 50 382.45142857142866 50 382.45142857142866 50L382.45142857142866 50L382.45142857142866 100L382.45142857142866 100C382.45142857142866 100 340.29142857142864 100 340.29142857142864 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 340.29142857142864 100L 340.29142857142864 50Q 340.29142857142864 50 340.29142857142864 50L 382.45142857142866 50Q 382.45142857142866 50 382.45142857142866 50L 382.45142857142866 50L 382.45142857142866 100L 382.45142857142866 100z" pathFrom="M 340.29142857142864 100L 340.29142857142864 100L 382.45142857142866 100L 382.45142857142866 100L 382.45142857142866 100L 382.45142857142866 100L 382.45142857142866 100L 340.29142857142864 100" cy="50" cx="382.45142857142866" j="6" val="30" barHeight="50" barWidth="42.16"></path><path id="SvgjsPath1028" d="M400.52000000000004 100L400.52000000000004 33.33333333333333C400.5200000000001 33.33333333333333 400.5200000000001 33.33333333333333 400.52000000000004 33.33333333333333L442.68000000000006 33.33333333333333C442.68000000000006 33.33333333333333 442.68000000000006 33.33333333333333 442.68000000000006 33.33333333333333L442.68000000000006 33.33333333333333L442.68000000000006 100L442.68000000000006 100C442.68000000000006 100 400.52000000000004 100 400.52000000000004 100 " fill="rgba(45,112,245,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="0" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 400.52000000000004 100L 400.52000000000004 33.33333333333333Q 400.52000000000004 33.33333333333333 400.52000000000004 33.33333333333333L 442.68000000000006 33.33333333333333Q 442.68000000000006 33.33333333333333 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333L 442.68000000000006 100L 442.68000000000006 100z" pathFrom="M 400.52000000000004 100L 400.52000000000004 100L 442.68000000000006 100L 442.68000000000006 100L 442.68000000000006 100L 442.68000000000006 100L 442.68000000000006 100L 400.52000000000004 100" cy="33.33333333333333" cx="442.68000000000006" j="7" val="40" barHeight="66.66666666666667" barWidth="42.16"></path></g><g id="SvgjsG1029" class="apexcharts-series" seriesName="seriesx2" rel="2" data:realIndex="1"><path id="SvgjsPath1031" d="M-21.08 66.66666666666666L-21.08 24.666666666666657C-21.08 19.33333333333333 -18.413333333333334 16.666666666666657 -13.079999999999998 16.666666666666657L13.079999999999998 16.666666666666657C18.413333333333334 16.666666666666657 21.08 19.33333333333333 21.08 24.666666666666657L21.08 24.666666666666657L21.08 66.66666666666666L21.08 66.66666666666666C21.08 66.66666666666666 -21.08 66.66666666666666 -21.08 66.66666666666666 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M -21.08 66.66666666666666L -21.08 24.666666666666657Q -21.08 16.666666666666657 -13.079999999999998 16.666666666666657L 13.079999999999998 16.666666666666657Q 21.08 16.666666666666657 21.08 24.666666666666657L 21.08 24.666666666666657L 21.08 66.66666666666666L 21.08 66.66666666666666z" pathFrom="M -21.08 66.66666666666666L -21.08 66.66666666666666L 21.08 66.66666666666666L 21.08 66.66666666666666L 21.08 66.66666666666666L 21.08 66.66666666666666L 21.08 66.66666666666666L -21.08 66.66666666666666" cy="16.666666666666657" cx="21.08" j="0" val="30" barHeight="50" barWidth="42.16"></path><path id="SvgjsPath1032" d="M39.14857142857144 16.666666666666657L39.14857142857144 16.666666666666657C39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657L81.30857142857144 16.666666666666657C81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657L81.30857142857144 16.666666666666657L81.30857142857144 16.666666666666657L81.30857142857144 16.666666666666657C81.30857142857144 16.666666666666657 39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 39.14857142857144 16.666666666666657L 39.14857142857144 16.666666666666657Q 39.14857142857144 16.666666666666657 39.14857142857144 16.666666666666657L 81.30857142857144 16.666666666666657Q 81.30857142857144 16.666666666666657 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657z" pathFrom="M 39.14857142857144 16.666666666666657L 39.14857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 81.30857142857144 16.666666666666657L 39.14857142857144 16.666666666666657" cy="16.666666666666657" cx="81.30857142857144" j="1" val="0" barHeight="0" barWidth="42.16"></path><path id="SvgjsPath1033" d="M99.37714285714287 70L99.37714285714287 24.666666666666664C99.37714285714287 19.33333333333333 102.04380952380953 16.666666666666664 107.37714285714287 16.666666666666664L133.53714285714287 16.666666666666664C138.8704761904762 16.666666666666664 141.53714285714287 19.33333333333333 141.53714285714287 24.666666666666664L141.53714285714287 24.666666666666664L141.53714285714287 70L141.53714285714287 70C141.53714285714287 70 99.37714285714287 70 99.37714285714287 70 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 99.37714285714287 70L 99.37714285714287 24.666666666666664Q 99.37714285714287 16.666666666666664 107.37714285714287 16.666666666666664L 133.53714285714287 16.666666666666664Q 141.53714285714287 16.666666666666664 141.53714285714287 24.666666666666664L 141.53714285714287 24.666666666666664L 141.53714285714287 70L 141.53714285714287 70z" pathFrom="M 99.37714285714287 70L 99.37714285714287 70L 141.53714285714287 70L 141.53714285714287 70L 141.53714285714287 70L 141.53714285714287 70L 141.53714285714287 70L 99.37714285714287 70" cy="16.666666666666664" cx="141.53714285714287" j="2" val="32" barHeight="53.333333333333336" barWidth="42.16"></path><path id="SvgjsPath1034" d="M159.60571428571433 16.666666666666657L159.60571428571433 16.666666666666657C159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657L201.76571428571432 16.666666666666657C201.76571428571435 16.666666666666657 201.76571428571435 16.666666666666657 201.76571428571432 16.666666666666657L201.76571428571432 16.666666666666657L201.76571428571432 16.666666666666657L201.76571428571432 16.666666666666657C201.76571428571432 16.666666666666657 159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 159.60571428571433 16.666666666666657L 159.60571428571433 16.666666666666657Q 159.60571428571433 16.666666666666657 159.60571428571433 16.666666666666657L 201.76571428571432 16.666666666666657Q 201.76571428571432 16.666666666666657 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657z" pathFrom="M 159.60571428571433 16.666666666666657L 159.60571428571433 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 201.76571428571432 16.666666666666657L 159.60571428571433 16.666666666666657" cy="16.666666666666657" cx="201.76571428571432" j="3" val="0" barHeight="0" barWidth="42.16"></path><path id="SvgjsPath1035" d="M219.83428571428573 50L219.83428571428573 24.666666666666664C219.83428571428573 19.33333333333333 222.5009523809524 16.666666666666664 227.83428571428573 16.666666666666664L253.99428571428575 16.666666666666664C259.3276190476191 16.666666666666664 261.99428571428575 19.33333333333333 261.99428571428575 24.666666666666664L261.99428571428575 24.666666666666664L261.99428571428575 50L261.99428571428575 50C261.99428571428575 50 219.83428571428573 50 219.83428571428573 50 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 219.83428571428573 50L 219.83428571428573 24.666666666666664Q 219.83428571428573 16.666666666666664 227.83428571428573 16.666666666666664L 253.99428571428575 16.666666666666664Q 261.99428571428575 16.666666666666664 261.99428571428575 24.666666666666664L 261.99428571428575 24.666666666666664L 261.99428571428575 50L 261.99428571428575 50z" pathFrom="M 219.83428571428573 50L 219.83428571428573 50L 261.99428571428575 50L 261.99428571428575 50L 261.99428571428575 50L 261.99428571428575 50L 261.99428571428575 50L 219.83428571428573 50" cy="16.666666666666664" cx="261.99428571428575" j="4" val="20" barHeight="33.333333333333336" barWidth="42.16"></path><path id="SvgjsPath1036" d="M280.0628571428572 33.33333333333333L280.0628571428572 24.66666666666666C280.0628571428572 19.33333333333333 282.7295238095238 16.66666666666666 288.0628571428572 16.66666666666666L314.22285714285715 16.66666666666666C319.55619047619047 16.66666666666666 322.22285714285715 19.33333333333333 322.22285714285715 24.66666666666666L322.22285714285715 24.66666666666666L322.22285714285715 33.33333333333333L322.22285714285715 33.33333333333333C322.22285714285715 33.33333333333333 280.0628571428572 33.33333333333333 280.0628571428572 33.33333333333333 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 280.0628571428572 33.33333333333333L 280.0628571428572 24.66666666666666Q 280.0628571428572 16.66666666666666 288.0628571428572 16.66666666666666L 314.22285714285715 16.66666666666666Q 322.22285714285715 16.66666666666666 322.22285714285715 24.66666666666666L 322.22285714285715 24.66666666666666L 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333z" pathFrom="M 280.0628571428572 33.33333333333333L 280.0628571428572 33.33333333333333L 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333L 322.22285714285715 33.33333333333333L 280.0628571428572 33.33333333333333" cy="16.66666666666666" cx="322.22285714285715" j="5" val="10" barHeight="16.666666666666668" barWidth="42.16"></path><path id="SvgjsPath1037" d="M340.29142857142864 50L340.29142857142864 24.666666666666664C340.29142857142864 19.33333333333333 342.9580952380953 16.666666666666664 348.29142857142864 16.666666666666664L374.45142857142866 16.666666666666664C379.784761904762 16.666666666666664 382.45142857142866 19.33333333333333 382.45142857142866 24.666666666666664L382.45142857142866 24.666666666666664L382.45142857142866 50L382.45142857142866 50C382.45142857142866 50 340.29142857142864 50 340.29142857142864 50 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 340.29142857142864 50L 340.29142857142864 24.666666666666664Q 340.29142857142864 16.666666666666664 348.29142857142864 16.666666666666664L 374.45142857142866 16.666666666666664Q 382.45142857142866 16.666666666666664 382.45142857142866 24.666666666666664L 382.45142857142866 24.666666666666664L 382.45142857142866 50L 382.45142857142866 50z" pathFrom="M 340.29142857142864 50L 340.29142857142864 50L 382.45142857142866 50L 382.45142857142866 50L 382.45142857142866 50L 382.45142857142866 50L 382.45142857142866 50L 340.29142857142864 50" cy="16.666666666666664" cx="382.45142857142866" j="6" val="20" barHeight="33.333333333333336" barWidth="42.16"></path><path id="SvgjsPath1038" d="M400.52000000000004 33.33333333333333L400.52000000000004 24.66666666666666C400.5200000000001 19.33333333333333 403.1866666666667 16.66666666666666 408.52000000000004 16.66666666666666L434.68000000000006 16.66666666666666C440.01333333333343 16.66666666666666 442.68000000000006 19.33333333333333 442.68000000000006 24.66666666666666L442.68000000000006 24.66666666666666L442.68000000000006 33.33333333333333L442.68000000000006 33.33333333333333C442.68000000000006 33.33333333333333 400.52000000000004 33.33333333333333 400.52000000000004 33.33333333333333 " fill="rgba(241,245,251,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="round" stroke-width="0" stroke-dasharray="0" class="apexcharts-bar-area" index="1" clip-path="url(#gridRectMaskcz602p7cf)" pathTo="M 400.52000000000004 33.33333333333333L 400.52000000000004 24.66666666666666Q 400.52000000000004 16.66666666666666 408.52000000000004 16.66666666666666L 434.68000000000006 16.66666666666666Q 442.68000000000006 16.66666666666666 442.68000000000006 24.66666666666666L 442.68000000000006 24.66666666666666L 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333z" pathFrom="M 400.52000000000004 33.33333333333333L 400.52000000000004 33.33333333333333L 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333L 442.68000000000006 33.33333333333333L 400.52000000000004 33.33333333333333" cy="16.66666666666666" cx="442.68000000000006" j="7" val="10" barHeight="16.666666666666668" barWidth="42.16"></path></g><g id="SvgjsG1020" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1030" class="apexcharts-datalabels" data:realIndex="1"></g></g><line id="SvgjsLine1060" x1="-38.199999999999996" y1="0" x2="459.8" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1061" x1="-38.199999999999996" y1="0" x2="459.8" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1062" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1063" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1064" class="apexcharts-point-annotations"></g></g><g id="SvgjsG1047" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1009" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 50px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(45, 112, 245);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(241, 245, 251);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 547px; height: 237px;"></div></div><div class="contract-trigger"></div></div></div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="bg-white rounded" style="position: relative;">
            <div class="flex items-center py-5 px-6 border-b">
              <h3 class="text-2xl font-bold">Saldo</h3>
              <div class="ml-auto inline-block py-2 px-3 border rounded text-xs text-gray-500">
                <select class="pr-1" name="">
                  <option value="1">Maandelijks</option>
                  <option value="1">Jaarlijks</option>
                  <option value="1">Wekelijks</option>
                </select>
              </div>
            </div>
            <div class="pt-4 px-6">
              <div class="flex flex-wrap -m-4 pb-16">
                <div class="w-full md:w-1/2 p-4">
                  <div class="py-4 px-6 border rounded">
                    <h4 class="text-xs text-gray-500">Inkomsten</h4>
                    <div class="flex items-center">
                      <span class="mr-2 text-3xl font-bold">43.41%</span>
                      <span class="py-1 px-2 bg-green-500 text-xs text-white rounded-full">+2.5%</span>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/2 p-4">
                  <div class="py-4 px-6 border rounded">
                    <h4 class="text-xs text-gray-500">Omzet</h4>
                    <div class="flex items-center">
                      <span class="mr-2 text-3xl font-bold">€4.422</span>
                      <span class="py-1 px-2 bg-green-500 text-xs text-white rounded-full">+13.5%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart" data-type="area" style="min-height: 180px;"><div id="apexchartsejn6fzseh" class="apexcharts-canvas apexchartsejn6fzseh apexcharts-theme-light" style="width: 546px; height: 180px;"><svg id="SvgjsSvg1065" width="546" height="180" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent none repeat scroll 0% 0%;"><g id="SvgjsG1067" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1066"><clipPath id="gridRectMaskejn6fzseh"><rect id="SvgjsRect1072" width="552" height="182" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskejn6fzseh"><rect id="SvgjsRect1073" width="550" height="184" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1071" x1="0" y1="0" x2="0" y2="180" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="180" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1080" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1081" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1112" class="apexcharts-grid"><g id="SvgjsG1113" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1115" x1="0" y1="0" x2="546" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1116" x1="0" y1="36" x2="546" y2="36" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1117" x1="0" y1="72" x2="546" y2="72" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1118" x1="0" y1="108" x2="546" y2="108" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1119" x1="0" y1="144" x2="546" y2="144" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1120" x1="0" y1="180" x2="546" y2="180" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1114" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1122" x1="0" y1="180" x2="546" y2="180" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1121" x1="0" y1="1" x2="0" y2="180" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1074" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1075" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1078" d="M0 180L0 108L19.5 122.4L39 115.2L58.5 122.4L78 100.8L97.5 64.80000000000001L117 151.2L136.5 72L156 50.400000000000006L175.5 28.80000000000001L195 50.400000000000006L214.5 64.80000000000001L234 43.20000000000002L253.5 79.2L273 86.4L292.5 50.400000000000006L312 108L331.5 108L351 108L370.5 21.599999999999994L390 43.20000000000002L409.5 36L429 50.400000000000006L448.5 57.60000000000001L468 43.20000000000002L487.5 86.4L507 50.400000000000006L526.5 79.2L546 72C546 72 546 180 546 180M546 72C546 72 546 72 546 72 " fill="rgba(235,234,252,0.85)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskejn6fzseh)" pathTo="M 0 180L 0 108L 19.5 122.4L 39 115.2L 58.5 122.4L 78 100.8L 97.5 64.80000000000001L 117 151.2L 136.5 72L 156 50.400000000000006L 175.5 28.80000000000001L 195 50.400000000000006L 214.5 64.80000000000001L 234 43.20000000000002L 253.5 79.2L 273 86.4L 292.5 50.400000000000006L 312 108L 331.5 108L 351 108L 370.5 21.599999999999994L 390 43.20000000000002L 409.5 36L 429 50.400000000000006L 448.5 57.60000000000001L 468 43.20000000000002L 487.5 86.4L 507 50.400000000000006L 526.5 79.2L 546 72L 546 180M 546 72z" pathFrom="M -1 180L -1 180L 19.5 180L 39 180L 58.5 180L 78 180L 97.5 180L 117 180L 136.5 180L 156 180L 175.5 180L 195 180L 214.5 180L 234 180L 253.5 180L 273 180L 292.5 180L 312 180L 331.5 180L 351 180L 370.5 180L 390 180L 409.5 180L 429 180L 448.5 180L 468 180L 487.5 180L 507 180L 526.5 180L 546 180"></path><path id="SvgjsPath1079" d="M0 108L19.5 122.4L39 115.2L58.5 122.4L78 100.8L97.5 64.80000000000001L117 151.2L136.5 72L156 50.400000000000006L175.5 28.80000000000001L195 50.400000000000006L214.5 64.80000000000001L234 43.20000000000002L253.5 79.2L273 86.4L292.5 50.400000000000006L312 108L331.5 108L351 108L370.5 21.599999999999994L390 43.20000000000002L409.5 36L429 50.400000000000006L448.5 57.60000000000001L468 43.20000000000002L487.5 86.4L507 50.400000000000006L526.5 79.2L546 72C546 72 546 72 546 72 " fill="none" fill-opacity="1" stroke="#382cdd" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskejn6fzseh)" pathTo="M 0 108L 19.5 122.4L 39 115.2L 58.5 122.4L 78 100.8L 97.5 64.80000000000001L 117 151.2L 136.5 72L 156 50.400000000000006L 175.5 28.80000000000001L 195 50.400000000000006L 214.5 64.80000000000001L 234 43.20000000000002L 253.5 79.2L 273 86.4L 292.5 50.400000000000006L 312 108L 331.5 108L 351 108L 370.5 21.599999999999994L 390 43.20000000000002L 409.5 36L 429 50.400000000000006L 448.5 57.60000000000001L 468 43.20000000000002L 487.5 86.4L 507 50.400000000000006L 526.5 79.2L 546 72" pathFrom="M -1 180L -1 180L 19.5 180L 39 180L 58.5 180L 78 180L 97.5 180L 117 180L 136.5 180L 156 180L 175.5 180L 195 180L 214.5 180L 234 180L 253.5 180L 273 180L 292.5 180L 312 180L 331.5 180L 351 180L 370.5 180L 390 180L 409.5 180L 429 180L 448.5 180L 468 180L 487.5 180L 507 180L 526.5 180L 546 180"></path><g id="SvgjsG1076" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1128" r="0" cx="0" cy="0" class="apexcharts-marker wcxfbht8f no-pointer-events" stroke="#ffffff" fill="#382cdd" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1077" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1123" x1="0" y1="0" x2="546" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1124" x1="0" y1="0" x2="546" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1125" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1126" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1127" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1070" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1111" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1068" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 90px;"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(56, 44, 221);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 547px; height: 422px;"></div></div><div class="contract-trigger"></div></div></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "StatsComponent"
}
</script>

<style scoped>

</style>
