<template>
  <!-- component -->
  <div class="flex max-h-screen bg-gray-50 items-center justify-center">
    <div class="grid bg-white rounded-lg shadow-xl min-h-80">
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label
          class="
            uppercase
            md:text-sm
            text-xs text-gray-500 text-light
            font-semibold
            text-left
          "
          >E-Mail</label
        >
        <input
          class="
            py-2
            px-3
            rounded-lg
            border-2 border-purple-300
            mt-1
            focus:outline-none
            focus:ring-2 focus:ring-purple-600
            focus:border-transparent
          "
          type="text"
          placeholder="meneer.verbraak@zzp.nl"
          v-model="username"
          name="username"
        />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-8 mt-5 mx-7">
        <div class="grid grid-cols-1">
          <label
            class="
              uppercase
              md:text-sm
              text-xs text-gray-500 text-light
              font-semibold
              text-left
            "
            >Voornaam</label
          >
          <input
            class="
              py-2
              px-3
              rounded-lg
              border-2 border-purple-300
              mt-1
              focus:outline-none
              focus:ring-2 focus:ring-purple-600
              focus:border-transparent
            "
            type="text"
            placeholder="Jan"
            v-model="firstname"
            name="firstname"
          />
        </div>
        <div class="grid grid-cols-1">
          <label
            class="
              uppercase
              md:text-sm
              text-xs text-gray-500 text-light
              font-semibold
              text-left
            "
            >Achternaam</label
          >
          <input
            class="
              py-2
              px-3
              rounded-lg
              border-2 border-purple-300
              mt-1
              focus:outline-none
              focus:ring-2 focus:ring-purple-600
              focus:border-transparent
            "
            type="text"
            placeholder="Verbraak"
            v-model="lastname"
            name="lastname"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label
          class="
            uppercase
            md:text-sm
            text-xs text-gray-500 text-light
            font-semibold
            text-left
          "
          >Wachtwoord</label
        >
        <input
          class="
            py-2
            px-3
            rounded-lg
            border-2 border-purple-300
            mt-1
            focus:outline-none
            focus:ring-2 focus:ring-purple-600
            focus:border-transparent
          "
          type="text"
          placeholder="*******"
          v-model="password"
          name="password"
        />
      </div>
      <div class="grid grid-cols-1 mt-5 mx-7">
        <label
          class="
            uppercase
            md:text-sm
            text-xs text-gray-500 text-light
            font-semibold
            text-left
          "
          >Wachtwoord herhalen</label
        >
        <input
          class="
            py-2
            px-3
            rounded-lg
            border-2 border-purple-300
            mt-1
            focus:outline-none
            focus:ring-2 focus:ring-purple-600
            focus:border-transparent
          "
          type="text"
          placeholder="*******"
          v-model="repeatedPassword"
          name="repeatedPassword"
        />
      </div>

      <div class="grid grid-cols-1 mt-5 mx-7">
        <label
          class="
            uppercase
            md:text-sm
            text-xs text-gray-500 text-light
            font-semibold
            text-left
          "
          >Organisatie</label
        >
        <input
          class="
            py-2
            px-3
            rounded-lg
            border-2 border-purple-300
            mt-1
            focus:outline-none
            focus:ring-2 focus:ring-purple-600
            focus:border-transparent
          "
          type="text"
          placeholder="Verbraak BV"
          v-model="organisationName"
          name="organisationName"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-8 mt-5 mx-7">
        <div class="grid grid-cols-1">
          <label
            class="
              uppercase
              md:text-sm
              text-xs text-gray-500 text-light
              font-semibold
              text-left
            "
            >Adres</label
          >
          <input
            class="
              py-2
              px-3
              rounded-lg
              border-2 border-purple-300
              mt-1
              focus:outline-none
              focus:ring-2 focus:ring-purple-600
              focus:border-transparent
            "
            type="text"
            placeholder="Bloemenmarkt 12"
            v-model="address"
            name="address"
          />
        </div>
        <div class="grid grid-cols-1">
          <label
            class="
              uppercase
              md:text-sm
              text-xs text-gray-500 text-light
              font-semibold
              text-left
            "
            >Postcode</label
          >
          <input
            class="
              py-2
              px-3
              rounded-lg
              border-2 border-purple-300
              mt-1
              focus:outline-none
              focus:ring-2 focus:ring-purple-600
              focus:border-transparent
            "
            type="text"
            placeholder="5011TT"
            v-model="zipcode"
            name="zipcode"
          />
        </div>
        <div class="grid grid-cols-1">
          <label
            class="
              uppercase
              md:text-sm
              text-xs text-gray-500 text-light
              font-semibold
              text-left
            "
            >Woonplaats</label
          >
          <input
            class="
              py-2
              px-3
              rounded-lg
              border-2 border-purple-300
              mt-1
              focus:outline-none
              focus:ring-2 focus:ring-purple-600
              focus:border-transparent
            "
            type="text"
            placeholder="Amsterdam"
            v-model="city"
            name="city"
          />
        </div>
      </div>

      <!--      <div class="grid grid-cols-1 mt-5 mx-7">-->
      <!--        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Selection</label>-->
      <!--        <select class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent">-->
      <!--          <option>Option 1</option>-->
      <!--          <option>Option 2</option>-->
      <!--          <option>Option 3</option>-->
      <!--        </select>-->
      <!--      </div>-->

      <!--      <div class="grid grid-cols-1 mt-5 mx-7">-->
      <!--        <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Another Input</label>-->
      <!--        <input class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" type="text" placeholder="Another Input" />-->
      <!--      </div>-->

      <!--      <div class="mt-4 space-y-4">-->

      <!--        <div class="flex items-start">-->
      <!--          <div class="flex items-center h-5">-->
      <!--            <input id="comments" name="comments" type="checkbox"-->
      <!--                   class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"/>-->
      <!--          </div>-->
      <!--          <div class="ml-3 text-sm">-->
      <!--            <label for="comments" class="font-medium text-gray-700">Comments</label>-->
      <!--            <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

      <div
        class="
          md:grid md:grid-cols-1
          hover:bg-gray-50
          md:space-y-0
          space-y-1
          p-4
          border-b
          md:items-center
        "
      >
        <!--        <p class="text-gray-600">Reden tracking</p>-->
        <div id="v-model-multiple-checkboxes" class="content-center">
          <label class="flex items-center space-x-3 mb-3">
            <input
              id="privacypolicy-checkbox"
              v-model="agreesPrivacyPolicy"
              type="checkbox"
            />
            <span class="text-gray-700 font-normal">
              Ik ga akkoord met de
              <a to="/privacy-policy">privacy-overeenkomst</a>
            </span>
          </label>
        </div>
      </div>

      <div class="flex items-center justify-center md:gap-8 gap-4 pt-5 pb-5">
        <button
          v-on:click="submitForm"
          class="
            w-auto
            bg-vueBlue
            hover:bg-purple-700
            rounded-lg
            shadow-xl
            font-medium
            text-white
            px-4
            py-2
            text-right
          "
        >
          Aanmelden
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import RegisterUserDTO from '@/models/RegisterUserDTO';
import axios from 'axios';
import { createToast } from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css';

export default {
  name: 'RegisterForm',
  date() {
    return {
      errors: [],
      username: null,
      firstname: null,
      lastname: null,
      password: null,
      repeatedPassword: null,
      organisationName: null,
      address: null,
      zipcode: null,
      city: null,
      agreesPrivacyPolicy: false,
    };
  },
  methods: {
    submitForm() {
      console.log('entered submitform method');
      if (
        this.username &&
        this.firstname &&
        this.lastname &&
        this.password &&
        this.repeatedPassword
      ) {
        if (this.agreesPrivacyPolicy == false) {
          createToast('U moet akkoord gaan met het privacybeleid', {
            type: 'warning',
            position: 'bottom-right',
          });
          return;
        }

        let userToSave = new RegisterUserDTO(
          this.username,
          this.firstname,
          this.lastname,
          this.password,
          this.repeatedPassword,
          this.organisationName,
          this.address,
          this.zipcode,
          this.city,
          this.agreesPrivacyPolicy
        );
        console.log(
          'customer service url:' + process.env.VUE_APP_BASE_URL_LOGINSERVICE,
          userToSave
        );
        axios
          .post(
            process.env.VUE_APP_BASE_URL_LOGINSERVICE + '/auth/users',
            userToSave
          )
          .then((response) => {
            console.log('I got a response!', response.data);
            if (response.status === 200 || response.status === 201) {
              createToast('Je account is aangemaakt!', {
                type: 'success',
                position: 'bottom-right',
              });
            }
          })
          .catch((response) => {
            console.log('I got a bad response!', response);
            createToast(
              'Er is iets fout gegaan. Gebruikersregistratie mislukt!',
              {
                type: 'danger',
                position: 'bottom-right',
              }
            );
          });
      } else {
        createToast('Vul alle velden in!', {
          type: 'danger',
          position: 'bottom-right',
        });
      }
    },
  },
};
</script>

<style scoped></style>
