<template>
  <StatsTiles />
</template>

<script>
import StatsTiles from "@/components/dashboard/StatsTiles";
export default {
  name: "Dashboard",
  components: {
    StatsTiles
  }
}
</script>

<style scoped>

</style>
