<template>
  <HomeComponent id="section-one" />
  <!-- <PricingComponent id="section-two" /> -->
</template>

<script>
// @ is an alias to /src
// import PricingComponent from '@/components/home/Pricing';
import HomeComponent from '@/components/home/Home';

export default {
  name: 'Home',
  components: {
    // PricingComponent,
    HomeComponent,
  },
  methods: {
    toSection() {},
  },
};
</script>
