<template>
  <div>
    <LoginForm class="loginform" />
  </div>
</template>

<script>
import LoginForm from "@/components/login/LoginForm";

export default {
  name: "Login",
  components: {
    LoginForm,
  },
}
</script>

<style scoped>
.loginform {
  margin-left: 30%;
  margin-right: 30%;
}
</style>
