<template>
  <Privacy />
</template>

<script>
import Privacy from '@/components/agreement/Privacy';
export default {
  name: 'PrivacyPolicy',
  components: { Privacy },
};
</script>

<style scoped></style>
