<template>
<RegisterForm/>
</template>

<script>
import RegisterForm from "@/components/register/RegisterForm";
export default {
  name: "Register",
  components: {RegisterForm}
}
</script>

<style scoped>

</style>
