<template>
  <div class="justify-items-end text-right mb-2">
    <button
      v-on:click="toggleModal()"
      class="
        w-auto
        bg-vueBlue
        hover:bg-purple-700
        rounded-lg
        shadow-xl
        font-medium
        text-white
        px-4
        py-2
        text-right
      "
    >
      Toevoegen
    </button>
  </div>
  <div
    v-if="showModal"
    class="
      overflow-x-hidden overflow-y-auto
      fixed
      inset-0
      z-50
      outline-none
      focus:outline-none
      justify-center
      items-center
      flex
    "
  >
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div
        class="
          border-0
          rounded-lg
          shadow-lg
          relative
          flex flex-col
          w-full
          bg-white
          outline-none
          focus:outline-none
        "
      >
        <!--header-->
        <div
          class="
            flex
            items-start
            justify-between
            p-5
            border-b border-solid border-blueGray-200
            rounded-t
          "
        >
          <h3 class="text-3xl font-semibold">Nieuwe relatie</h3>
          <button
            class="
              p-1
              ml-auto
              bg-transparent
              border-0
              text-black
              opacity-5
              float-right
              text-3xl
              leading-none
              font-semibold
              outline-none
              focus:outline-none
            "
            v-on:click="toggleModal()"
          >
            <span
              class="
                bg-transparent
                text-black
                opacity-5
                h-6
                w-6
                text-2xl
                block
                outline-none
                focus:outline-none
              "
            >
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div class="flex max-h-screen bg-gray-50 items-center justify-center">
            <div
              class="
                grid
                bg-white
                rounded-lg
                shadow-xl
                min-h-80
                px-4
                py-5
                bg-white
                space-y-6
                sm:p-6
              "
            >
              <div class="grid grid-cols-1 mt-5 mx-7">
                <label
                  class="
                    uppercase
                    md:text-sm
                    text-xs text-gray-500 text-light
                    font-semibold
                    text-left
                  "
                  >Organisatie</label
                >
                <input
                  class="
                    py-2
                    px-3
                    rounded-lg
                    border-2 border-purple-300
                    mt-1
                    focus:outline-none
                    focus:ring-2 focus:ring-purple-600
                    focus:border-transparent
                  "
                  type="text"
                  placeholder="Naam"
                  v-model="Name"
                />
              </div>

              <div
                class="grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-8 mt-5 mx-7"
              >
                <div class="grid grid-cols-1">
                  <label
                    class="
                      uppercase
                      md:text-sm
                      text-xs text-gray-500 text-light
                      font-semibold
                      text-left
                    "
                    >Adres</label
                  >
                  <input
                    class="
                      py-2
                      px-3
                      rounded-lg
                      border-2 border-purple-300
                      mt-1
                      focus:outline-none
                      focus:ring-2 focus:ring-purple-600
                      focus:border-transparent
                    "
                    type="text"
                    placeholder="Adres"
                    v-model="Address"
                  />
                </div>
                <div class="grid grid-cols-1">
                  <label
                    class="
                      uppercase
                      md:text-sm
                      text-xs text-gray-500 text-light
                      font-semibold
                      text-left
                    "
                    >Postcode</label
                  >
                  <input
                    class="
                      py-2
                      px-3
                      rounded-lg
                      border-2 border-purple-300
                      mt-1
                      focus:outline-none
                      focus:ring-2 focus:ring-purple-600
                      focus:border-transparent
                    "
                    type="text"
                    placeholder="Postcode"
                    v-model="Zipcode"
                  />
                </div>
                <div class="grid grid-cols-1">
                  <label
                    class="
                      uppercase
                      md:text-sm
                      text-xs text-gray-500 text-light
                      font-semibold
                      text-left
                    "
                    >Woonplaats</label
                  >
                  <input
                    class="
                      py-2
                      px-3
                      rounded-lg
                      border-2 border-purple-300
                      mt-1
                      focus:outline-none
                      focus:ring-2 focus:ring-purple-600
                      focus:border-transparent
                    "
                    type="text"
                    placeholder="Woonplaats"
                    v-model="City"
                  />
                </div>
              </div>

              <!-- <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button
                  v-on:click="submitForm"
                  class="
                    w-auto
                    bg-vueBlue
                    hover:bg-purple-700
                    rounded-lg
                    shadow-xl
                    font-medium
                    text-white
                    px-4
                    py-2
                    text-right
                  "
                >
                  Opslaan
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <!--footer-->
        <div
          class="
            flex
            items-center
            justify-end
            p-6
            border-t border-solid border-blueGray-200
            rounded-b
          "
        >
          <button
            class="
              text-red-500
              bg-transparent
              border border-solid border-red-500
              hover:bg-red-500
              hover:text-gray-50
              active:bg-red-600
              font-bold
              uppercase
              text-sm
              px-6
              py-2
              rounded
              outline-none
              focus:outline-none
              mr-1
              mb-1
              ease-linear
              transition-all
              duration-150
            "
            type="button"
            v-on:click="toggleModal()"
          >
            Sluiten
          </button>
          <button
            class="
              text-white
              bg-vueBlue
              border border-solid border-vueBlue
              hover:bg-vueGreen
              hover:text-vueBlue
              font-bold
              uppercase
              px-6
              py-2
              text-sm
              rounded
              outline-none
              focus:outline-none
              mr-1
              mb-1
              ease-linear
              transition-all
              duration-150
            "
            type="button"
            v-on:click="submitForm()"
          >
            Opslaan
          </button>
        </div>
      </div>
    </div>
  </div>
  <div v-if="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

  <RelationTable class="margin" />
</template>

<script>
import RelationTable from '@/components/relationmanagement/RelationTable';
import axios from 'axios';
import Customer from '@/models/Customer';
import { createToast } from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css';

export default {
  name: 'RelationManagement',
  components: {
    RelationTable,
  },
  data() {
    return {
      showModal: false,
      show: false,
      options: [
        { text: 'Afwijzen', value: 'REJECTED' },
        { text: 'Goedkeuren', value: 'APPROVED' },
      ],
      regulationEmployeeFirstname: '',
      regulationEmployeeLastname: '',
      remark: '',
      selectedRequestStatus: '',
      selectedTrackingRequest: Object,
      trigger: 0,
      Name: '',
      Address: '',
      City: '',
      Zipcode: '',

      //todo: velden aanmaken voor de modal
    };
  },
  methods: {
    toggleModal: function () {
      console.log('showModal triggerd ', this.showModal);
      this.showModal = !this.showModal;
    },
    submitForm() {
      if (this.Name && this.Address && this.City && this.Zipcode) {
        let customerToSave = new Customer(
          this.Name,
          this.Address,
          this.City,
          this.Zipcode
        );
        console.log(
          'customer service url:' +
            process.env.VUE_APP_BASE_URL_CUSTOMERSERVICE,
          customerToSave
        );
        axios
          .post(
            process.env.VUE_APP_BASE_URL_CUSTOMERSERVICE +
              '/customers/customers',
            customerToSave,
            {
              headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                Authorization: `${localStorage.token}`,
              },
            }
          )
          .then((response) => {
            console.log('I got a response!', response.data);
            createToast('Je relatie is aangemaakt!', {
              type: 'success',
              position: 'bottom-right',
            });
          })
          .catch((response) => {
            console.log('I got a bad response!', response);
            createToast('Er is iets mis gegaan, probeer het later nogmaals!', {
              type: 'warning',
              position: 'bottom-right',
            });
          });
      } else {
        createToast('Vul alle velden in!', {
          type: 'danger',
          position: 'bottom-right',
        });
      }
    },
  },
};
</script>

<style scoped></style>
