<template>
  <span>Helllo</span>
  <TimeTable />
</template>

<script>
import TimeTable from '@/components/timeregistration/TimeTable';

export default {
  name: 'TimeRegistration',
  components: {
    TimeTable,
  },
};
</script>
