<template>
  <section class="bg-coolGray-100 text-coolGray-800">
    <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
      <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">
        Hoe wij omgaan met uw privacy
      </p>
      <h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">
        Privacy Policy
      </h2>
      <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-1 lg:px-12 xl:px-32">
        <div>
          <h3 class="font-semibold">Inleiding</h3>
          <p class="mt-1 text-coolGray-600">
            Bij het ZZP-Management staat uw privacy centraal en dit is extreem
            belangrijk voor ons. Wij zullen uw persoonsgegevens nooit verkopen
            of misbruiken en wij zullen er alles aan doen om uw persoonsgevens
            te beschermen tegen criminelen.
            <br />
            <br />
            Wij verwerken daarom uitsluitend gegevens die wij nodig hebben voor
            (het verbeteren van) onze dienstverlening en gaan zorgvuldig om met
            de informatie die wij over u en uw gebruik van onze diensten hebben
            verzameld. Wij stellen uw gegevens nooit voor commerciële
            doelstellingen ter beschikking aan derden.
            <br />
            Dit privacybeleid is van toepassing op het gebruik van de website en
            de daarop ontsloten dienstverlening van ZZP-Management. De
            ingangsdatum voor de geldigheid van deze voorwaarden is 28/04/2021,
            met het publiceren van een nieuwe versie vervalt de geldigheid van
            alle voorgaande versies. Dit privacybeleid beschrijft welke gegevens
            over u door ons worden verzameld, waar deze gegevens voor worden
            gebruikt en met wie en onder welke voorwaarden deze gegevens
            eventueel met derden kunnen worden gedeeld.
            <br />
            Ook leggen wij aan u uit op welke wijze wij uw gegevens opslaan en
            hoe wij uw gegevens tegen misbruik beschermen en welke rechten u
            heeft met betrekking tot de door u aan ons verstrekte
            persoonsgegevens. Als u vragen heeft over ons privacybeleid kunt u
            contact opnemen met onze contactpersoon voor privacyzaken, u vindt
            de contactgegevens aan het einde van ons privacybeleid.
          </p>
        </div>

        <div>
          <h3 class="font-semibold">Toestemming</h3>
          <p class="mt-1 text-coolGray-600">
            Door de informatie en de diensten op ZZP-Management te gebruiken,
            gaat u akkoord met onze privacy policy en de voorwaarden die wij
            hierin hebben opgenomen.
          </p>
        </div>

        <div>
          <h3 class="font-semibold">Monitoren gedrag bezoeker</h3>
          <p class="mt-1 text-coolGray-600">
            ZZP-Management maakt gebruik van verschillende technieken om bij te
            houden wie de website bezoekt, hoe deze bezoeker zich op de website
            gedraagt en welke pagina’s worden bezocht. Dat is een gebruikelijke
            manier van werken voor websites omdat het informatie oplevert op die
            bijdraagt aan de kwaliteit van de gebruikerservaring. De informatie
            die we, via cookies, registreren, bestaat uit onder meer
            IP-adressen, het type browser en de bezochte pagina’s. Tevens
            monitoren we waar bezoekers de website voor het eerst bezoeken en
            vanaf welke pagina ze vertrekken. Deze informatie houden we anoniem
            bij en is niet gekoppeld aan andere persoonlijke informatie, link.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Bescherming van persoonsgegevens</h3>
          <p class="mt-1 text-coolGray-600">
            Persoonsgegevens zijn onderworpen aan extra waarborgingen om ervoor
            te zorgen dat deze gegevens veilig worden verwerkt. Wij doen
            bijvoorbeeld ons uiterste best om ervoor te zorgen dat de gegevens
            worden versleuteld tijdens de doorvoer en de opslag, en de toegang
            tot deze gegevens zal strikt worden beperkt tot een minimumaantal
            personen en onderworpen zijn aan vertrouwelijkheidsverbintenissen.
            Wij zullen alle stappen ondernemen die redelijkerwijs nodig zijn om
            ervoor te zorgen dat uw gegevens veilig en in overeenstemming met
            dit beleid worden behandeld. Helaas is de overdracht van informatie
            via het internet niet volledig veilig. Hoewel wij ons best zullen
            doen om uw persoonsgegevens te beschermen, kunnen wij de veiligheid
            van uw gegevens die naar een van onze websites worden verzonden niet
            garanderen; elke verzending geschiedt op uw eigen risico. Zodra wij
            uw informatie hebben ontvangen, zullen wij strikte procedures en
            beveiligingsvoorzieningen gebruiken om te proberen ongeoorloofde
            toegang te voorkomen. Waar mogelijk wordt encryptie gebruikt, zowel
            tijdens de doorgifte als tijdens de opslag. Toegangscontroles binnen
            de organisatie beperken wie toegang heeft tot informatie. Wij
            beschermen uw persoonsgegevens door de volgende
            veiligheidsmaatregelingen te nemen:
            <br />
            <br />
            hashen van wachtwoorden
            <br />
            Data anonimisatie
            <br />
            Geen ingebouwde tracking <br />
            Gebruikers kunnen hun eigen data inzien <br />
            Gebruikers kunnen een aanvraag doen om hun eigen data te verwijderen
            <br />
            IP anonimisatie
            <br />
            Data wordt in de EU opgeslagen
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Locatie van uw persoonsgegevens</h3>
          <p class="mt-1 text-coolGray-600">
            Uw persoonsgegevens zoals uw naam, e-mailadres en bedrijfsgegevens
            worden opgeslagen en verwerkt in de omgeving Microsoft Azure Cloud
            in West-Europa.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Inzagerecht</h3>
          <p class="mt-1 text-coolGray-600">
            U heeft altijd het recht om de gegevens die wij (laten) verwerken en
            die betrekking hebben op uw persoon of daartoe herleidbaar zijn, in
            te zien. U kunt een verzoek met die strekking doen aan onze
            contactpersoon voor privacyzaken. U ontvangt dan binnen 30 dagen een
            reactie op uw verzoek. Als uw verzoek wordt ingewilligd sturen wij u
            op het bij ons bekende e-mailadres een kopie van alle gegevens met
            een overzicht van de verwerkers die deze gegevens onder zich hebben,
            onder vermelding van de categorie waaronder wij deze gegevens hebben
            opgeslagen.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Rectificatierecht</h3>
          <p class="mt-1 text-coolGray-600">
            U heeft altijd het recht om de gegevens die wij (laten) verwerken en
            die betrekking hebben op uw persoon of daartoe herleidbaar zijn, te
            laten aanpassen. U kunt een verzoek met die strekking doen aan onze
            contactpersoon voor privacyzaken. U ontvangt dan binnen 30 dagen een
            reactie op uw verzoek. Als uw verzoek wordt ingewilligd sturen wij u
            op het bij ons bekende e-mailadres een bevestiging dat de gegevens
            zijn aangepast.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Recht van de verwerking</h3>
          <p class="mt-1 text-coolGray-600">
            U heeft altijd het recht om de gegevens die wij (laten) verwerken
            die betrekking hebben op uw persoon of daartoe herleidbaar zijn, te
            beperken. U kunt een verzoek met die strekking doen aan onze
            contactpersoon voor privacyzaken. U ontvangt dan binnen 30 dagen een
            reactie op uw verzoek. Als uw verzoek wordt ingewilligd sturen wij u
            op het bij ons bekende e-mailadres een bevestiging dat de gegevens
            tot u de beperking opheft niet langer worden verwerkt.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Recht op beperking van de verwerking</h3>
          <p class="mt-1 text-coolGray-600">
            U heeft altijd het recht om de gegevens die wij (laten) verwerken en
            die betrekking hebben op uw persoon of daartoe herleidbaar zijn,
            door een andere partij te laten uitvoeren. U kunt een verzoek met
            die strekking doen aan onze contactpersoon voor privacyzaken. U
            ontvangt dan binnen 30 dagen een reactie op uw verzoek. Als uw
            verzoek wordt ingewilligd sturen wij u op het bij ons bekende
            e-mailadres afschriften of kopieën van alle gegevens over u die wij
            hebben verwerkt of in opdracht van ons door andere verwerkers of
            derden zijn verwerkt. Naar alle waarschijnlijkheid kunnen wij in een
            dergelijk geval de dienstverlening niet langer voortzetten, omdat de
            veilige koppeling van databestanden dan niet langer kan worden
            gegarandeerd.
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Recht van bezwaar en overige rechten</h3>
          <p class="mt-1 text-coolGray-600">
            U heeft in voorkomende gevallen het recht bezwaar te maken tegen de
            verwerking van uw persoonsgegevens door of in opdracht van
            ZZP-Management. Als u bezwaar maakt zullen wij onmiddellijk de
            gegevensverwerking staken in afwachting van de afhandeling van uw
            bezwaar. Is uw bezwaar gegrond dat zullen wij afschriften en/of
            kopieën van gegevens die wij (laten) verwerken aan u ter beschikking
            stellen en daarna de verwerking blijvend staken. U heeft bovendien
            het recht om niet aan geautomatiseerde individuele besluitvorming of
            profiling te worden onderworpen. Wij verwerken uw gegevens niet op
            zodanige wijze dat dit recht van toepassing is. Bent u van mening
            dat dit wel zo is, neem dan contact op met onze contactpersoon voor
          </p>
        </div>
        <div>
          <h3 class="font-semibold">Vragen</h3>
          <p class="mt-1 text-coolGray-600">
            Als u meer informatie wilt ontvangen, of vragen hebt over de privacy
            policy van het project en specifiek ZZP-Management, kun u ons
            contactpersoon benaderen via e-mail. Het e-mailadres is
            contactpersoon@zzp-management.nl
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Privacy',
};
</script>
